<!DOCTYPE html>

{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Login — Red Parts</title>
    <link rel="icon" type="image/png" href="{% static " images/favicon.png" %}"><!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i"><!-- css -->
    <link rel="stylesheet" href="{% static  " vendor/bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static " vendor/owl-carousel/assets/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static " vendor/photoswipe/photoswipe.css" %}">
    <link rel="stylesheet" href="{% static " vendor/photoswipe/default-skin/default-skin.css" %}">
    <link rel="stylesheet" href="{% static " vendor/select2/css/select2.min.css" %}">
    <link rel="stylesheet" href="{% static " css/style.css" %}">
    <link rel="stylesheet" href="{% static " css/style.header-spaceship-variant-one.css" %}"
        media="(min-width: 1200px)">
    <link rel="stylesheet" href="{% static " css/style.mobile-header-variant-one.css" %}" media="(max-width: 1199px)">

    <!-- font - fontawesome -->
    <link rel="stylesheet" href="{% static " vendor/fontawesome/css/all.min.css" %}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97489509-8"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag("js", new Date()); gtag("config", "UA-97489509-8");</script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <title>

    </title>

</head>

<body>
    {% include "car/customerbase.html" %}
    <div class="site__body">
        <div class="block-space block-space--layout--after-header"></div>
        <div class="block">
            <div class="container container--max--lg">
                <div class="row">
                    <div class="col-md-12 d-flex mt-4 mt-md-0" style="margin: auto;">
                        <div class="card flex-grow-1 mb-0 ml-0 ml-lg-3 mr-0 mr-lg-4">
                            <div class="card-body card-body--padding--2">
                                <h3 class="card-title">Add Request</h3>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="form-group input-group">

                                            <select name="vehicle_category" class="form-control">
                                                <option selected="" disabled>Four Wheeler Category</option>
                                                <option>Four Wheeler With Gear</option>
                                                <option>Four Wheeler With Auto Gear</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                        <div class="form-group input-group">
                                            <input name="number" id="number" class="form-control"
                                                placeholder="Vehicle Number" type="email">
                                        </div> <!-- form-group// -->
                                        <div class="form-group input-group">
                                            <input name="name" id="name" class="form-control" placeholder="Vehicle Name"
                                                type="email">
                                        </div> <!-- form-group// -->
                                        <div class="form-group input-group">
                                            <input name="brand" id="brand" class="form-control"
                                                placeholder="Vehicle Brand" type="email">
                                        </div> <!-- form-group// -->
                                        <div class="form-group input-group">
                                            <input name="model" id="model" class="form-control"
                                                placeholder="Vehicle Model" type="email">
                                        </div> <!-- form-group// -->
                                        <div class="form-group input-group">
                                            <textarea class="form-control" name="problem" id="problem"
                                                placeholder="Vehicle Problem Description"></textarea>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <button type="submit" id="btnSubmit" class="btn btn-primary btn-block">
                                                Submit
                                            </button>
                                        </div> <!-- form-group// -->

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-space block-space--layout--before-footer"></div>
    </div>
    {% include "car/footer.html" %}
    <script src="{% static " vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static " vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static " vendor/owl-carousel/owl.carousel.min.js" %}"></script>
    <script src="{% static " vendor/nouislider/nouislider.min.js" %}"></script>
    <script src="{% static " vendor/photoswipe/photoswipe.min.js" %}"></script>
    <script src="{% static " vendor/photoswipe/photoswipe-ui-default.min.js" %}"></script>
    <script src="{% static " vendor/select2/js/select2.min.js" %}"></script>
    <script src="{% static " js/number.js" %}"></script>
    <script src="{% static " js/main.js" %}"></script>
</body>

</html>