<!DOCTYPE html>
<html>
{% include 'car/customerbase.html' %}
{% load static %}


<head>
	<title></title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static  "style.css" %}">
	<style>
		.hovernow {

			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
			transit	ion: box-shadow 0.3s ease-in-out;
		}

		.hovernow:hover {
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
		}
	</style>

</head>

<body>
	<div style="padding: 10px;
    margin-left: 10px;
    background: var(--second-bg-color);
    transition: margin-left .5s;">

		<!-- ****** cards start ********** -->
		<div class="row">
			<div class="col-3">
				<div class="counter bg-primary hovernow ">
					<p>
						<i class="fas fa-tasks"></i>
					</p>
					<h3></h3>
					<p>New Request Made</p>
				</div>
			</div>
			<div class="col-3">
				<div class="counter bg-warning hovernow ">
					<p>
						<i class="fas fa-spinner"></i>
					</p>
					<h3></h3>
					<p>Vehicle Repair In Progress</p>
				</div>
			</div>
			<div class="col-3">
				<div class="counter bg-success hovernow ">
					<p>
						<i class="fas fa-check-circle"></i>
					</p>
					<h3></h3>
					<p>Vehicle Repaired</p>
				</div>
			</div>
			<div class="col-3">
				<div class="counter bg-danger hovernow">
					<p>
						<i class="fas fa-rupee-sign"></i>
					</p>
					<h3>{{bill}}</h3>
					<p>Total Bill</p>
				</div>
			</div>
		</div><br><br><br><br>

		<!-- ****** cards end ********** -->

	</div>
	{% include "car/footer.html" %}
	<!-- end main content -->


</body>

</html>